<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
        <div class="logoDisplay"></div>
        <ul>
            <li>SEARCH JOBS</li>
            <li>SUBJECTS A-Z</li>
            <li>SIGN UP</li>
            <li>LOG IN</li>
        </ul>
    </header>
    <main>
        <div class="jobButtonsdiv">
            <div class="left-container">
                <h1 class="fontfont">Find just the right teaching job with Teaching in PA</h1>
                <h1 class="lookingFor">What are you looking for?</h1>
                <div class="buttonHolder">
                    <div class="buttonRow"><button class="jobButtons">FULLTIME</button><button class="jobButtons">PART TIME</button><button class="jobButtons">TEACHER</button></div>
                    <div class="buttonRow"><button class="jobButtons">ADMINISTRATOR</button><button class="jobButtons">COUNSELOR</button><button class="jobButtons">by LOCATION</button></div>
                    <div class="buttonRow"><button class="jobButtons">by SALARY</button><button class="jobButtons">by GRADE</button><button class="jobButtons">by POST DATE</button></div>
                </div>
            </div>
            <div>
                <button id="searchAllJobs">Search All Jobs</button><button id="next">NEXT</button>
            </div>
        </div>
        <div class="jobButtonsdiv" style="display:flex;" >
            <div class="bottomHome">
                <h1 class="missionHeadline">Teaching in PA's Mission</h1>
                <p id="missionFont">Partnering with Quality Schools and Exceptional Educators to Serve and Enrich Learning in Pennsylvania.
                     ( I stole this, we need to change it)</p>
            </div>
            <div class="kidsClassroom"></div>
        </div>
        <div class="jobButtonsdiv">
            <h1 class="pastSubscribers">What Past Subscribers Have Said</h1>
            <div class="testimonials">
                <div class="testiHolder">
                    <h4 class="testiName"t>Courtney</h4>
                    <p class="testiFont">“I  just wanted to send a quick thank you to this website for your help in  finding teachers jobs all over PA.  I  have been using your website for  over two years, and just recently saw another posting on the website. I  was just hired by Central Dauphin School District as a Reading  Specialist! If it wasn't for this site I would have never known about  this job! Keep up the amazing work you do finding jobs for those who  want to teach!”    
                        Thanks,Courtney</p>
                </div>
                <div class="testiHolder">
                    <h4 class="testiName">Nicole</h4>
                    <p class="testiFont"> "I  absolutely love the Teaching Jobs in PA site! I found it to be by far the  most useful resource for finding open teaching positions. I was actually  offered 3 positions that I found posted on the site. Thanks very much  for all you guys do :)"
                        Nicole:  (elementary school counselor at Claysburg-Kimmel SD)</p>
                </div>
                <div class="testiHolder">
                    <h4 class="testiName">Mark</h4>
                    <p class="testiFont">"I found teachinginpa.comafter  having limited success from other websites. By alerting me regularly to  many jobs I would not have known about otherwise, I was able to secure a  job in this very competitive job market. I highly recommend applicants  make Teachinginpa.com a regular stop on their path to employment!" 
                        Sincerely, Mark</p>
                </div>
            </div>
        </div>

    </main>
    <footer>
        This is the footer
    </footer>
	<script src="index.js"></script>
  </body>
</html>