<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEACHINGinPA</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body class="frontpage">
    <div class="frontpageBanner">
        <h1>TEACHING IN PA</h1>
        <h3>PA's #1 Resource for Teachers and Administrators</h3>
    </div>

    <button class="explore">EXPLORE</button>
	<script src="index.js"></script>
  </body>
</html>